.callout{
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-flow: row wrap;
  padding: 45px 100px;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
}

.callout-body{
  flex: 3 0 0;
}

.callout-title{
  margin: 0;
}