/* quote */
.quotes-content{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  padding: 100px 0;
}

.quote{
  max-width: 100%;
  margin: 0;
  font-size: 34px;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
}

.quote-author{
  max-width: 100%;
  margin: 0 0 0 auto;
  font-size: 24px;
  font-weight: 700;
}