html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* General styles */
body{
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* Colors */
.bg-blue {
  background-color: #1f2937;
}

.bg-celeste {
  background-color: #3882f6;
}

.bg-quote {
  background-color: #e5e7eb;
}

.txt-white{
  color: #f9faf8;
}

.txt-subtle{
  color: #e5e7eb;
}

/* text styles */
.heading-2{
  width: 100%;
  text-align: center;
}

/* Containers*/
.container-flex{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border: 2px solid rgb(71, 0, 0);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  flex-flow: row wrap;
  border: 2px solid black;
}

