html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* General styles */

body{
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}


.bg-blue {
  background-color: #1f2937;
}

.txt-white{
  color: #f9faf8;
}

.txt-subtle{
  color: #e5e7eb;
}

/* Header element styles */

.container-flex{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;
}

.logo{
  flex-grow:1;
  max-width: 100%;
}

.head-link {
  text-decoration: none;
  margin-left: 1em;
}
.head-link:hover{
  color: #fff09e;
}


.head-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-img {
  background-color: gray;
  padding: 3rem 5rem;
  text-align: center;
}